/* 
 colors {
  #9A7B4F
  #F5F5DC
  #FFE4C4
  #3D2B1F
  #79443B
  #A67B5B
  #4B3621
  #6F4E37
  #654321
  #D2B48C
  #F6F1E3

  #E4DCD1
 } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffff;
}
header {
  margin-bottom: 100px;
}
main {
  background-color: #654321;
  margin: 100px 100px;
  padding: 30px 20px;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.main-img {
  width: 300px;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 100px;
}

.buttons button h1 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.buttons button {
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  border: solid 2px #000;
}

.buttons button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 3px solid #d2b48cb7;
}

.intro {
  font-size: 20px;
  text-align: center;
  background-color: #d2b48ca0;
  padding: 20px;
  border-radius: 10px;
}

.insta-contact {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.insta-contact h2 {
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.contact {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  color:#D2B48C;
}

@media screen and (max-width: 1200px) {
  .buttons {
    gap: 1rem;
  }
  main {
    margin: 30px 20px;
  }
  .buttons button h1 {
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    font-size: 12px;
  }
  .insta-contact h2 {
    font-size: 12px;
  }
  .contact {
    font-size: 15px;
  }
}
